<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384651653028-03drb2oens256hgg3cmvh637s1sdliia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384651653028-03drb2oens256hgg3cmvh637s1sdliia</string>
	<key>API_KEY</key>
	<string>AIzaSyDXPrrizuyqOALRSlPCifcx2SmOnHacMgs</string>
	<key>GCM_SENDER_ID</key>
	<string>384651653028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.remax.remaxMapstate</string>
	<key>PROJECT_ID</key>
	<string>remaxmapstate-11c74</string>
	<key>STORAGE_BUCKET</key>
	<string>remaxmapstate-11c74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384651653028:ios:0063ba0c33951807151b31</string>
</dict>
</plist>